
img#about_us{
	max-width: 100%;
	height: 130px;
	width:100%;
	padding:0px 60px 10px 60px;
	margin-right: 15px;
}
p#about_us_para1{
	padding: 30px 20px 0px 30px;
	text-indent: 30px;
	font-size: 20px;
}
div#container_text_about_us{
	padding: 0px 30px 0px -20px;
	margin-top: 50px;
	margin-left: 0px;
	width: 100%;
}
