@media(max-width: 600px){
/*	#img1_home, #img2_home, #myCarousel_home{
		height: 200px;
	}*/


	#owl-demo .item{
		height: 260px!important;
	}

	.prevbtn, .nextbtn{
		top: 100px!important;
	}
	.btns{
		height: 260px!important;	
	}

}