
header{
    /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
    /*margin-top: 0px;
    margin-left: 0px;*/
    /*margin-right: 40px;*/
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px; 	 	
    border-bottom: 1px solid #80ced6;
    background-color: white ;
    /*background-color: rgba(204, 255, 204,20);*/
    /*position: fixed;*/
    /*background-image: url("/images/header_blue1.jpg");*/
    background-size: cover;
    top:0px;
    box-sizing: border-box;
}
h1#title_header{
	font-weight: bolder;
	/*letter-spacing: 5px;*/
	word-spacing: 10px;
	text-shadow: 2px 2px 10px #2BFF95;
	font-family: Lucida Calligraphy,Comic Sans MS,Lucida Console;
	text-align: center;
	padding-left: 30px;
	margin-top: 5px;
	margin-bottom: 18px;
	color: green;
	font-size: 44px;
	text-transform:capitalize;
	/*border:1px solid black;*/

}
